@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

$palette:(backgroundc: #fdd4e8, rosac: #d62d79, rosacc:#ffe9fa, blancoc: #ffffff);

@mixin marandpad($m, $p) {
    margin: $m;
    padding: $p;
}

*{
    @include marandpad(0, 0);
    box-sizing: border-box;
}

.ClassEjemploExtend {
    background: map-get($palette, backgroundc);
    color: map-get($palette, rosac);
    padding: 10px 45px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
    transition: 0.5s;
}

body{
    font-family: "Questrial";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: map-get($palette, backgroundc);
    
    .login{
        height: 450px;
        width: 400px;
        border-radius: 15px;
        background: map-get($palette, blancoc);
        display: flex;
        padding: 30px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        .imgcaja{
            height: 200px;
            width: 360px;
            margin-top: -130px;
            
            img{
                height: 100%;
                width: 100%;
                object-fit:cover;
            }

        }
        .textcaja{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            
            h2{
                font-size: 2em;
                color: map-get($palette, rosac);
            }

            .inputcaja{
                padding: 5px;
                margin: 5px 0;
                width: 100%;

                p{
                    color: map-get($palette, rosac);
                }

                input{
                    padding: 15px;
                    background: map-get($palette, rosacc);
                    width: 100%;
                    border: none;
                    margin: 5px 0;
                    outline: none;
                    border-radius: 5px;
                    color: map-get($palette, backgroundc);
                    &::placeholder{
                        color: map-get($palette, rosac);
                    }
                }
            }

            a {
                @extend .ClassEjemploExtend;
                }
            }
        }
    }
