@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$-bk-color: #fdd4e8;
$-rosita: #d62d79;
$-rosaclaro: rgb(255, 233, 250);
$blanco: #ffffff;

body{
    font-family: Questrial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: $-bk-color;
    
    .login{
        height: 450px;
        width: 400px;
        border-radius: 15px;
        background: $blanco;
        display: flex;
        padding: 30px;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;

        .imgcaja{
            height: 200px;
            width: 360px;
            margin-top: -130px;
            
            img{
                height: 100%;
                width: 100%;
                object-fit:cover;
            }

        }
        .textcaja{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            
            h2{
                font-size: 2em;
                color: $-rosita;
            }

            .inputcaja{
                padding: 5px;
                margin: 5px 0;
                width: 100%;

                p{
                    color: $-rosita;
                }

                input{
                    padding: 15px;
                    background: $-rosaclaro;
                    width: 100%;
                    border: none;
                    margin: 5px 0;
                    outline: none;
                    border-radius: 5px;
                    color: $-rosita;
                    &::placeholder{
                        color: $-rosita;
                    }
                }
            }
            a{
                background: $-bk-color;
                color: $-rosita;
                padding: 10px 45px;
                border-radius: 5px;
                text-decoration: none;
                margin: 10px 0;
                transition: 0.5s;
                &:hover{
                    letter-spacing: 2px;
                    transform: translateY(-5px);
                }
            }
        }
    }
}